s
.navigation-principale {
    background-color: #343a40 !important;
}

.bouton-navigation {
    margin-left: 10px;
}
.conteneur-hero {
    position: relative;
    margin: 2rem 0;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    border-radius: 10px;
    background-image: url('../images/image-home.jpg');
}

.superposition-hero {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}

.texte-hero {
    color: white;
    padding: 2rem;
}

.pied-de-page {
    background-color: #343a40;
    color: white;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.lien-pied-de-page {
    color: white !important;
    text-decoration: none;
}

.bouton-clair {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #fff;
}